.content-card-navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  .content-card-navbar-button {
    padding: 7px 10px;
    border: 1px solid rgb(182, 177, 177);
    border-radius: 10px;
    .button-range {
      display: flex;
      gap: 30px;
    }
  }
}
.array-container {
  .array-bar {
    width: 3px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 2px;
    transition: 0.1s;
  }
}
